@charset "UTF-8";
:root {
	--base-scaler: 10px;
	--base-font-scaler: 48px
}
:root {
	--brand-1: #002672;
	--brand-2: #ea021a;
	--brand-3: linear-gradient(#002672, #00043b);
	--brand-highlight: #3578ff;
	--shade-0: #fff;
	--shade-1: #f4f5f7;
	--shade-2: #e2e2e2;
	--shade-2-5: #9f9f9f;
	--shade-3: #707070;
	--shade-4: #4a4a4a;
	--shade-4-5: #453f3f;
	--shade-4-75: #252525;
	--shade-5: #222;
	--shade-6: #111;
	--black-op80: rgba(0, 0, 0, .8);
	--black-op60: rgba(0, 0, 0, .6);
	--black-op40: rgba(0, 0, 0, .4);
	--gradient-radial: radial-gradient(circle at center, #fff 0, #e8e7ed 100%);
	--gradient-pipe: linear-gradient(90deg, #d7d5dd, #eee 30%, #eee 70%, #d7d5dd);
	--gradient-linear: linear-gradient(180deg, #f5f5f5, #e3e4e4);
	--success: #299934;
	--alert: #ea021a;
	--live: #ea021a;
	--live-color: #fff;
	--breaking: #fde000;
	--breaking-color: #111;
	--link-color: #3157a1;
	--link-color-invert: #2aa2e1;
	--link-color-on-light: #00369f;
	--link-color-on-dark: #4fc2ff;
	--live-bg: linear-gradient(180deg, #e90e10, #bc0000);
	--breaking-bg: linear-gradient(180deg, #f8eb1f, #f2ca06);
	--body-bg: var(--gradient-pipe);
	--article-bg: var(--shade-0);
	--component-bg: var(--shade-0);
	--component-bg-transparent: #ffffff00;
	--component-shade: var(--shade-1);
	--component-shade-gradient: linear-gradient(180deg, #f5f5f5, #e3e4e4);
	--component-shade-dark: var(--shade-5);
	--border-color: var(--shade-2);
	--border-color-dark: var(--shade-5);
	--text-color: var(--shade-4);
	--text-color-invert: var(--shade-0);
	--text-color-secondary: var(--shade-3);
	--text-color-tertiary: var(--shade-2-5);
	--text-color-dark: var(--shade-6);
	--text-color-light: var(--shade-0);
	--icon-color: var(--shade-6);
	--drop-shadow: 0 3px 3px rgba(0, 0, 0, .12);
	--glow-shadow: 0 0 8px rgba(0, 0, 0, .12);
	--space-xs: calc(var(--base-scaler) * 1);
	--space-s: calc(var(--base-scaler) * 2);
	--space-m: calc(var(--base-scaler) * 3);
	--space-l: calc(var(--base-scaler) * 4);
	--space-xl: calc(var(--base-scaler) * 6);
	--site-width: 1024px;
	--site-width-s: 480px;
	--site-width-m: 700px;
	--site-width-amp: 600px;
	--site-width-inner: 976px;
	--component-gap: var(--space-s);
	--component-padding: var(--space-m);
	--component-margin: var(--space-l);
	--group-margin: var(--space-xl);
	--site-gutter: calc(var(--space-s) + 4px);
	--z-index-ui: 999;
	--z-index-ads: 9999;
	--z-index-overlays: 99999;
	--branding-sky-text-font: "Sky Text";
	--branding-sky-headline-font: "Sky Headline", "Sky Headline fallback", "arial narrow", sans-serif;
	--base-font-name: "skytext";
	--base-font-load-setting: "optional";
	--base-font-size: 18px;
	--font-scale-xl: var(--base-font-scaler);
	--font-scale-l: calc((var(--base-font-scaler) * 1.25 / 2) + 6px);
	--font-scale-m: calc(var(--base-font-scaler) * 0.35 + 13.2px);
	--font-scale-s: calc(((var(--base-font-scaler)) / 8) + 16px);
	--font-scale-xs: calc(((var(--base-font-scaler)) / 8) + 14px);
	--font-scale-xxs: calc(((var(--base-font-scaler) - 10px) / 8) + 13.25px);
	--font-fixed-m: var(--base-font-size);
	--font-fixed-s: calc(var(--base-font-size) - 2px);
	--font-fixed-xs: calc(var(--base-font-size) - 4px);
	--display-1: var(--font-scale-xl);
	--display-2: var(--font-scale-l);
	--display-3: var(--font-scale-m);
	--display-4: var(--font-scale-s);
	--display-5: var(--font-scale-xs);
	--display-6: var(--font-scale-xxs);
	--article-text: var(--font-scale-xs);
	--component-text: var(--font-scale-xxs);
	--supporting-text: var(--font-fixed-s);
	--label-text: var(--font-fixed-xs)
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%
}
html {
	font-size: var(--base-font-size);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	font-family: var(--branding-sky-text-font), sans-serif;
	color: var(--text-color);
	scroll-behavior: smooth;
	word-wrap: break-word;
	overflow-anchor: none
}
img {
	max-width: 100%;
	opacity: 1;
	border: 0
}
a,
svg {
	color: inherit;
	fill: inherit;
	text-decoration: none
}
ul {
	list-style: none
}
:root {
	--brand-1: #063e7b;
	--brand-2: #d0021b;
	--brand-3: linear-gradient(180deg, #164c99, #032c77);
	--alert: #ff2744;
	--live: #d0021b
}
.custom-index .sdc-site-countdown-timer__inner[class],
.custom-index .sdc-site-hero__inner[class],
.sdc-article-header__wrap,
.sdc-article-tags[class]:not(.sdc-article-tags--lozenge),
.sdc-site-au--sponsor-position-container,
.sdc-site-au__standalone-sponsor-container,
.sdc-site-breaking-news__body,
.sdc-site-component-header__body,
.sdc-site-countdown-timer.sdc-site-countdown-timer--homepage,
.sdc-site-countdown-timer__inner[class],
.sdc-site-directory__inner,
.sdc-site-error-page-container,
.sdc-site-filter__inner,
.sdc-site-fixres-wrap,
.sdc-site-footer__inner,
.sdc-site-hero__inner[class],
.sdc-site-last-games:not(.no-skin),
.sdc-site-listing-details-wrap,
.sdc-site-localnav__inner,
.sdc-site-match-header__wrapper,
.sdc-site-match-stats:not(.no-skin),
.sdc-site-message--box[class],
.sdc-site-opta-widget:not(.sdc-article-widget),
.sdc-site-outbrain--AR_3,
.sdc-site-outbrain--AR_4,
.sdc-site-outbrain--AR_5,
.sdc-site-table__container,
.sdc-site-tabs__inner,
.sdc-site-team-formations,
.sdc-site-team-lineup,
.sdc-site-trending:not(.sdc-site-trending--compact) .sdc-site-trending__inner,
.site-footer__body,
.site-header__body,
.site-nav-desktop__wrap,
.site-wrap,
:not(.sdc-site-error-page-container)>.sdc-site-error-page {
	max-width: var(--site-width);
	margin-left: auto;
	margin-right: auto
}
.section-wrap {
	background: var(--article-bg);
	color: var(--text-color);
	padding: 0 10px;
}
.sdc-article-header--story-article .sdc-article-header__wrap[class],
.sdc-story-article-author .sdc-article-author[class] {
	max-width: 976px
}
.sdc-article-header--story-article .sdc-site-component-header--h1,
.sdc-article-header--story-article .sdc-site-component-header--h2,
.sdc-article-header--story-article .sdc-site-fixres__header1 {
	max-width: 800px
}
.sdc-article-header__wrap .sdc-site-component-header--h1 {
	font-size: 42px !important;
	margin-bottom: 22px !important;
	line-height: 45px
}
.sdc-site-header[class] {
	--site-header-nav-underline-color: var(--link-color);
	--site-header-zindex: 10000;
	background-image: var(--gradient-linear);
	color: var(--text-color)
}
.sdc-site-header[class],
body[data-is-article] .sdc-site-header[style] {
	margin-bottom: 0 !important
}
.sdc-site-header[style] {
	margin-bottom: var(--component-margin) !important
}
.sdc-site-header__menu-group-overflow .sdc-site-header__menu-item-link[class],
.sdc-site-header__nav-wrap[class],
.sdc-site-header__subnav-menu-item-link[class] {
	color: inherit
}
.sdc-site-header__logo {
	height: 42px;
	-webkit-transform: rotate(-1.8deg);
	-ms-transform: rotate(-1.8deg);
	transform: rotate(-1.8deg);
	-webkit-transform-origin: 0;
	-ms-transform-origin: 0;
	transform-origin: 0
}
.sdc-site-header__logo img {
	-webkit-transform: rotate(1.8deg);
	-ms-transform: rotate(1.8deg);
	transform: rotate(1.8deg);
	-webkit-transform-origin: inherit;
	-ms-transform-origin: inherit;
	transform-origin: inherit
}
.sdc-site-header__logo:before {
	content: "";
	position: absolute;
	left: calc(((100vw - 972px) / 2) * -1);
	height: calc(100% + 40px);
	bottom: 52%;
	width: calc(100vw - 15px);
	z-index: -1;
	pointer-events: none;
	background-image: linear-gradient(182deg, hsla(0, 0%, 100%, 0) 85%, hsla(0, 0%, 100%, .7)), linear-gradient(90deg, hsla(0, 0%, 100%, .8) 10%, hsla(0, 0%, 100%, .05))
}
@media (prefers-color-scheme: dark) {
	.sdc-site-header__logo:before {
		opacity: .05
	}
}
body {
	background: var(--body-bg) !important
}
.sdc-site-embedded,
.section-wrap {
	background: var(--article-bg) !important
}
.section-wrap--shade {
	background: var(--component-shade)
}
.blackjack-sdc-digrev-header,
.sdc-article-header--feature,
.sdc-site-au--full-bleed,
.sdc-site-header,
.sdc-site-localnav {
	margin-bottom: var(--component-margin)
}
@media (min-width: 580px) {
	.sdc-site-au--full-bleed,
	.sdc-site-header {
		margin-bottom: var(--component-margin) !important
	}
}
.sdc-site-header {
	margin-bottom: var(--component-margin)
}
html[style] {
	scroll-behavior: auto
}
.sdc-site-header {
	--site-header-bg: var(--gradient-linear);
	--site-header-color: var(--text-color);
	--site-header-zindex: var(--site-header-z-index, 99);
	--site-header-logo-height: 38px;
	--site-header-action-button-bg: var(--live);
	--site-header-action-button-color: var(--text-color-invert);
	--site-header-action-button-border-radius: 3px;
	--site-header-nav-color: var(--text-color);
	--site-header-nav-underline-color: var(--link-color);
	--site-header-sub-nav-underline-color: var(--site-header-sub-nav-underline-color-override, var(--link-color));
	--site-header-nav-underline-thickness: 3px;
	--site-header-nav-clip: content-box;
	--site-header-subnav-menu-bg: var(--component-bg);
	--site-header-subnav-menu-border: 2px solid var(--border-color);
	--site-header-subnav-menu-item-border: 1px solid var(--border-color);
	--site-header-subnav-menu-color: var(--text-color);
	--site-header-icon-color: var(--text-color);
	--site-header-top-padding: var(--component-gap);
	--site-header-top-padding-mobile: 13px;
	--site-header-menu-item-link-indent: 0.6em;
	--site-header-menu-height: 65px;
	--site-header-mobile-nav-icon-color: var(--text-color-dark);
	background: var(--site-header-bg);
	color: var(--site-header-color);
	fill: var(--site-header-color);
	z-index: var(--site-header-zindex);
	position: relative
}
.sdc-site-header__inner {
	max-width: auto;
	margin: 0 auto;
	position: relative;
	direction: rtl;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 3
}
.sdc-site-header__top {
	direction: ltr;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
}
.sdc-site-header__logo {
	display: block;
	height: var(--site-header-logo-height);
	direction: ltr;
	position: relative;
	min-width: 100px
}
.sdc-site-header__logo img {
	display: block;
	height: 100%
}
.sdc-site-header__nav-wrap {
	color: var(--site-header-nav-color);
	fill: var(--site-header-nav-color);
	display: none;
	clear: both;
	width: 100%
}
.sdc-site-header__menu-cell {
	padding: 0;
	list-style: none
}
.sdc-site-header__menu-item-link {
	white-space: nowrap;
	display: block
}
.sdc-site-header__menu-item-link[aria-current=true] {
	font-weight: 600
}
.sdc-site-header__menu-item-link--overflow[class]:hover,
.sdc-site-header__menu-item-link:hover,
.sdc-site-header__menu-item-link[aria-current=true],
.sdc-site-header__menu-item-link[aria-expanded=true],
.sdc-site-header__subnav-item-link:hover,
.sdc-site-header__subnav-menu-item-link:hover {
	text-decoration: none;
	background-size: 100% var(--site-header-nav-underline-thickness);
	background-position: 0 bottom;
	background-clip: var(--site-header-nav-clip);
	background-repeat: no-repeat
}
.sdc-site-header__menu-item-link--overflow[class]:hover,
.sdc-site-header__menu-item-link:hover,
.sdc-site-header__menu-item-link[aria-current=true],
.sdc-site-header__menu-item-link[aria-expanded=true] {
	background-image: linear-gradient(var(--site-header-nav-underline-color), var(--site-header-nav-underline-color))
}
@media (min-width: 580px) {
	.sdc-site-header__inner {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.sdc-site-header__subnav {
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		top: calc(var(--site-header-top-padding) + 8px)
	}
	.sdc-site-header__nav-wrap {
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		display: block
	}
	.sdc-site-header__top {
		-webkit-flex: 0 0 206px;
		-ms-flex: 0 0 206px;
		flex: 0 0 206px;
		padding: var(--site-header-top-padding) 0
	}
	.sdc-site-header__nav {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		direction: ltr
	}
	.sdc-site-header__nav-cell--1 {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		position: relative;
		left: calc(var(--site-header-menu-item-link-indent) * -1)
	}
	.sdc-site-header__menu-group--has-children {
		-webkit-transform: translateX(calc(var(--site-header-menu-item-link-indent) * 2));
		-ms-transform: translateX(calc(var(--site-header-menu-item-link-indent) * 2));
		transform: translateX(calc(var(--site-header-menu-item-link-indent) * 2))
	}
	.sdc-site-header__menu {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
	.sdc-site-header__menu-cell--1 {
		-ms-flex: 1;
		overflow: hidden;
		height: var(--site-header-menu-height)
	}
	.sdc-site-header__menu-item {
		display: inline-block;
		overflow: hidden
	}
	.sdc-site-header__menu-item-link {
		padding: 0 var(--site-header-menu-item-link-indent);
		height: var(--site-header-menu-height);
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		position: relative
	}
}
.sdc-site-component-header--h1 {
	font-weight: 400;
	line-height: 1.1;
	font-size: 2.3em !important;
	text-align: auto;
	margin-bottom: .75em !important
}
.sdc-news-footer {
	padding: 2em 0;
	background: var(--component-bg);
	color: var(--text-color);
	box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .14)
}
.sdc-news-footer__wrapper {
	margin: 0 auto;
	padding: 0 14px;
	max-width: 1024px
}
.sdc-news-footer__cell-wrap:after {
	content: none !important
}
.sdc-news-footer__row {
	margin-bottom: 2em;
	padding-bottom: 1.75em;
	border-bottom: 1px solid var(--border-color)
}
.sdc-news-footer__row:last-of-type {
	margin: 0;
	padding: 0;
	border: 0
}
.sdc-news-footer__list {
	margin: 0;
	padding: 0;
	list-style: none
}
.sdc-news-footer__list-item {
	display: block;
	margin-bottom: .2em
}
.sdc-news-footer__list-item--social {
	margin: 0
}
.sdc-news-footer__list-item--legal {
	font-size: .888em
}
.sdc-news-footer__list--horizontal>.sdc-news-footer__list-item,
.sdc-news-footer__list--social>.sdc-news-footer__list-item {
	display: inline-block;
	margin-right: 2.2em;
	vertical-align: middle
}
.sdc-news-footer__list-link {
	display: block;
	padding: .4em .1em;
	text-decoration: none;
	line-height: 1
}
.sdc-news-footer__list-logo {
	margin: .5em 0
}
.sdc-news-footer__list-logo-image {
	margin-right: .5em;
	min-width: 70px;
	max-width: 140px;
	vertical-align: middle;
	height: auto
}
.sdc-news-footer__list-copyright {
	display: inline-block;
	vertical-align: middle
}
.sdc-article-author {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--text-color);
	font-size: var(--component-text);
	line-height: 1;
	margin-bottom: 0;
}
.sdc-article-author__byline {
	font-weight: 700
}
.sdc-article-body-width-limiter,
.sdc-article-body .sdc-article-widget:not([class*="--full-bleed"]),
.sdc-article-body .sdc-site-information-list[class]>h1,
.sdc-article-body .sdc-site-information-list[class]>h2,
.sdc-article-body .sdc-site-information-list[class]>h3,
.sdc-article-body .sdc-site-information-list[class]>h4,
.sdc-article-body .sdc-site-information-list[class]>h5,
.sdc-article-body .sdc-site-information-list[class]>h6,
.sdc-article-body>dl,
.sdc-article-body>h1,
.sdc-article-body>h2,
.sdc-article-body>h3,
.sdc-article-body>h4,
.sdc-article-body>h5,
.sdc-article-body>h6,
.sdc-article-body>hr,
.sdc-article-body>ol,
.sdc-article-body>p,
.sdc-article-body>ul,
.sdc-article-body__progress-bar,
.sdc-article-gallery__caption[class]>span:last-of-type,
.sdc-article-gallery__info-wrap[class]>span:last-of-type,
.sdc-article-header__wrap[class],
.sdc-article-image__caption[class]>span:last-of-type,
.sdc-article-video__caption[class]>span:last-of-type,
.sdc-site-author-header-width-limiter[class],
.sdc-site-author-header-wrapper[class],
.sdc-site-information-list[class] .sdc-article-body>h1,
.sdc-site-information-list[class] .sdc-article-body>h2,
.sdc-site-information-list[class] .sdc-article-body>h3,
.sdc-site-information-list[class] .sdc-article-body>h4,
.sdc-site-information-list[class] .sdc-article-body>h5,
.sdc-site-information-list[class] .sdc-article-body>h6,
.sdc-site-information-list[class] .sdc-article-widget:not([class*="--full-bleed"]),
.sdc-site-information-list[class]>dl,
.sdc-site-information-list[class]>h1,
.sdc-site-information-list[class]>h2,
.sdc-site-information-list[class]>h3,
.sdc-site-information-list[class]>h4,
.sdc-site-information-list[class]>h5,
.sdc-site-information-list[class]>h6,
.sdc-site-information-list[class]>hr,
.sdc-site-information-list[class]>ol,
.sdc-site-information-list[class]>p,
.sdc-site-information-list[class]>ul,
.sdc-site-roadblock__caption[class]>span:last-of-type,
.sdc-timeline-node,
.sdc-ui-media-caption>span:last-of-type,
.section-wrap__article-column,
[class*="--match-article-body-copy-width"],
div.sdc-site-topic-banner--article-body-width {
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
	max-width: 390px;
	transition: padding 0s ease-in-out
}
@media (min-width: 481px) {
	.sdc-article-body-width-limiter,
	.sdc-article-body .sdc-article-widget:not([class*="--full-bleed"]),
	.sdc-article-body .sdc-site-information-list[class]>h1,
	.sdc-article-body .sdc-site-information-list[class]>h2,
	.sdc-article-body .sdc-site-information-list[class]>h3,
	.sdc-article-body .sdc-site-information-list[class]>h4,
	.sdc-article-body .sdc-site-information-list[class]>h5,
	.sdc-article-body .sdc-site-information-list[class]>h6,
	.sdc-article-body>dl,
	.sdc-article-body>h1,
	.sdc-article-body>h2,
	.sdc-article-body>h3,
	.sdc-article-body>h4,
	.sdc-article-body>h5,
	.sdc-article-body>h6,
	.sdc-article-body>hr,
	.sdc-article-body>ol,
	.sdc-article-body>p,
	.sdc-article-body>ul,
	.sdc-article-body__progress-bar,
	.sdc-article-gallery__caption[class]>span:last-of-type,
	.sdc-article-gallery__info-wrap[class]>span:last-of-type,
	.sdc-article-header__wrap[class],
	.sdc-article-image__caption[class]>span:last-of-type,
	.sdc-article-video__caption[class]>span:last-of-type,
	.sdc-site-author-header-width-limiter[class],
	.sdc-site-author-header-wrapper[class],
	.sdc-site-information-list[class] .sdc-article-body>h1,
	.sdc-site-information-list[class] .sdc-article-body>h2,
	.sdc-site-information-list[class] .sdc-article-body>h3,
	.sdc-site-information-list[class] .sdc-article-body>h4,
	.sdc-site-information-list[class] .sdc-article-body>h5,
	.sdc-site-information-list[class] .sdc-article-body>h6,
	.sdc-site-information-list[class] .sdc-article-widget:not([class*="--full-bleed"]),
	.sdc-site-information-list[class]>dl,
	.sdc-site-information-list[class]>h1,
	.sdc-site-information-list[class]>h2,
	.sdc-site-information-list[class]>h3,
	.sdc-site-information-list[class]>h4,
	.sdc-site-information-list[class]>h5,
	.sdc-site-information-list[class]>h6,
	.sdc-site-information-list[class]>hr,
	.sdc-site-information-list[class]>ol,
	.sdc-site-information-list[class]>p,
	.sdc-site-information-list[class]>ul,
	.sdc-site-roadblock__caption[class]>span:last-of-type,
	.sdc-timeline-node,
	.sdc-ui-media-caption>span:last-of-type,
	.section-wrap__article-column,
	[class*="--match-article-body-copy-width"],
	div.sdc-site-topic-banner--article-body-width {
		max-width: 540px
	}
}
.sdc-article-body,
.sdc-site-information-list[class] {
	font-size: 1rem;
	line-height: 1.44
}
@media (min-width: 681px) {

	.sdc-article-body,
	.sdc-site-information-list[class] {
		font-size: 1.22222rem;
		line-height: 1.55
	}
}
.sdc-article-body ::selection,
.sdc-site-information-list[class] ::selection {
	text-shadow: none;
	color: #fff;
	background-image: none;
	background-color: var(--link-color)
}
.sdc-article-body ::-moz-selection,
.sdc-site-information-list[class] ::-moz-selection {
	text-shadow: none;
	color: #fff;
	background-image: none;
	background-color: var(--link-color)
}
.sdc-article-body .sdc-site-information-list[class]>dl,
.sdc-article-body .sdc-site-information-list[class]>ol,
.sdc-article-body .sdc-site-information-list[class]>p,
.sdc-article-body .sdc-site-information-list[class]>ul,
.sdc-article-body>dl,
.sdc-article-body>ol,
.sdc-article-body>p,
.sdc-article-body>ul,
.sdc-site-information-list[class] .sdc-article-body>dl,
.sdc-site-information-list[class] .sdc-article-body>ol,
.sdc-site-information-list[class] .sdc-article-body>p,
.sdc-site-information-list[class] .sdc-article-body>ul,
.sdc-site-information-list[class]>dl,
.sdc-site-information-list[class]>ol,
.sdc-site-information-list[class]>p,
.sdc-site-information-list[class]>ul {
	margin-top: 0;
	margin-bottom: 1.5rem
}
.sdc-article-body>p,
.sdc-site-information-list[class]>p {
	color: var(--text-color);
	word-break: break-word
}
.sdc-article-body--lead>p:first-of-type {
	font-weight: 400;
}
.sdc-article-body,
.sdc-site-information-list[class] {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 0;
	padding-bottom: 30px;
	padding-left: 0
}
@media (min-width: 481px) {

	.sdc-article-body,
	.sdc-site-information-list[class] {
		padding-bottom: 30px
	}
}
@media (min-width: 681px) {

	.sdc-article-body,
	.sdc-site-information-list[class] {
		padding-bottom: 40px
	}
}
.sdc-article-body:after,
.sdc-site-information-list[class]:after {
	content: "";
	display: block;
	clear: both;
	width: 100%;
	height: 0
}
.sdc-article-header {
	position: relative
}
.sdc-article-header:not(.sdc-article-header--feature) {
	padding-top: 1em;
	padding-bottom: 0
}
.sdc-article-header__titles {
	position: relative
}
.sdc-article-header__details {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 100%
}
.sdc-article-header .sdc-article-author[class] {
	padding: 0;
	max-width: 100%
}
.sdc-article-header .sdc-article-author[class]:last-child {
	padding-bottom: 0
}
.sdc-article-header .sdc-article-date[class][class],
.sdc-article-header .sdc-article-tags[class][class] {
	padding: 0 !important
}
.sdc-article-header .sdc-article-date__wrap {
	white-space: nowrap
}
.sdc-article-header {
	font-size: inherit;
	color: var(--text-color)
}
.sdc-article-header__title {
	font-size: 2.675em;
	font-weight: 400;
	line-height: 1.15em
}
.sdc-article-header__date-time {
	font-size: 1em;
	color: var(--text-color-secondary)
}
.sdc-article-date {
	font-size: 16px;
	line-height: 1.2;
	color: var(--text-color-secondary)
}
.sdc-article-date__timestamp,
.sdc-article-date__wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.sdc-article-date__icon {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 6px
}
.sdc-article-date svg {
	width: 13px;
	height: 13px;
	fill: currentColor
}
.sdc-site-layout {
	position: relative;
	width: 100%;
	margin: 0 auto
}
.sdc-site-layout--alt1,
.sdc-site-layout--alt2 {
	max-width: 700px
}
.sdc-site-layout-wrap[data-type=inline-article] {
	padding-top: calc(3% + 1em);
	padding-bottom: calc(3% + 1em)
}
.sdc-site-layout-wrap[data-type=inline-article] .sdc-article-header[class] {
	padding-top: 0
}
@media (min-width: 940px) {
	.sdc-site-layout-wrap {
		padding-left: 0
	}
	.sdc-site-layout--alt1,
	.sdc-site-layout--alt2 {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		max-width: 1024px;
		min-height: 600px
	}
	.sdc-site-layout--alt2 {
		min-height: 1700px
	}
	.sdc-site-layout--taller {
		min-height: 2300px
	}
	.sdc-site-layout--alt1 .sdc-site-layout__col1,
	.sdc-site-layout--alt2 .sdc-site-layout__col1 {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1
	}
	.sdc-site-layout-wrap[data-type=article] .sdc-site-layout__col1,
	.sdc-site-layout-wrap[data-type=inline-article] .sdc-site-layout__col1 {
		margin-right: 24px
	}
	.sdc-site-layout--alt1 .sdc-site-layout__col2,
	.sdc-site-layout--alt2 .sdc-site-layout__col2 {
		width: 300px
	}
}
html {
	overflow-anchor: visible
}
/* Reset styles for tag <p></p> */
p {	
	max-width: 100% !important;
	padding: 0 !important;
	margin: 15px 0 !important;
	color: #000 !important;
}
/*  */
.image-box {
	margin: 15px 0;
	text-align: center;
}
.image-box img {
	max-width: auto;
}
.said {
	border-left: 2px solid #032c77;
	padding-left: 10px;
	font-style: italic;
}
.said p {
	margin: 0 !important;
}
.said__author {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.author-name {
	margin-right: 20px;
}
.author-name p {
	text-align: right;
}
.author-img img {
	width: 150px;
}
.image--author {
	text-align: right;
	font-size: 14px;
}
a.link {
	font-weight: 700 !important;
	color: #ff0000 !important;
}
.photo-feedback {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.feedback--left {
	text-align: left;
}
a.link:hover {
	text-decoration: underline !important;
}
p.p__title {
	font-size: 700px !important;
	font-size: 24px !important;
}
.list ol,
.list ol {
	color: #000;
	padding-left: 30px;
}
.bottom-link {
	padding: 20px 0;
}
.main-link {
	width: 300px;
	background-color: #c71016;
	text-align: center;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
}
.main-link a {
	display: block;
	padding: 15px 0;
	color: #fff;
	font-size: 18px;
}
@media screen and (max-width: 768px) {
	.sdc-article-header__wrap .sdc-site-component-header--h1 {
		font-size: 26px !important;
		line-height: 28px !important; 
	}
}
.subtitle {
	font-size: 24px;
	color: gray;
	line-height: 100%;
}